extends layout.pug

block content
  div.video-container
    video#background(src='https://d32vnycoqqt3qz.cloudfront.net/lyrebird-loop.mp4')
    video#demo(src='https://d32vnycoqqt3qz.cloudfront.net/mitsuku-loop.mp4')

block footer_scripts
  script(src='js/lib/jquery.min.js')
  script(src='js/main.bundle.js')
