extends layout.pug

block content
  div.video-container
    video#background(src='https://s3.amazonaws.com/conversational-exhibit/lyrebird-loop.mp4')
    video#demo(src='http://techslides.com/demos/sample-videos/small.mp4')

block footer_scripts
  script(src='js/lib/jquery.min.js')
  script(src='js/main.bundle.js')
